
=alpha
  margin-left: 0
  
=clearfix
  &:before, &:after
    display: table
    content: ""
    line-height: 0
  &:after
    clear: both

=grid($colWidth: 60px, $gutterWidth: 20px, $columns: 12)

  %container
    @if $colWidth == 0
      width: 90%
    @else
      width: ($colWidth * $columns) + ($gutterWidth * ($columns - 1))
    margin-left: auto
    margin-right: auto
    +clearfix

  %columns
    min-height: 1px // prevent collapsing columns
    margin-right: $gutterWidth
    float: left
    display: block
    border-collapse: collapse

  %fluidwidths
    min-height: 1px // prevent collapsing columns
    float: left

  @for $i from 1 to ($columns + 1)
    %columns#{$i}
      @if $colWidth > 0
        /* columns#{$i} */
        width: ($colWidth * $i) + ($gutterWidth * ($i - 1))
      @else
        width: 100%

    %fluidwidth#{$i}
      @if $colWidth > 0
        /* fluidwidth#{$i} */
        width: (100% / $columns) * $i

=fluidspan($x, $omega: 0)
  @extend %fluidwidths
  @extend %fluidwidth#{$x}

=span($x, $omega: 0)
  @extend %columns
  @extend %columns#{$x}
  @if $omega != 0
    +omega($omega)

=omega($n: 1)
  @if $n == 1
    margin-right: 0 !important
  @else
    &:nth-child(#{$n})
      margin-right: 0 !important

%row
  clear: both
  display: inline-block
