//////////////////////////////
//////////////////////////////
// Typography
//////////////////////////////

$sans: Helvetica, Arial, sans-serif !default
$serif: Georgia, "Times New Roman", Times, serif !default
$mono: Monaco, Menlo, Consolas, "Courier New", monospace !default

$max-text-size: 32px !default

//////////////////////////////
//////////////////////////////
// Color
//////////////////////////////

$black: #000 !default
$white: #fff !default
$blue: #336699 !default
$gray: #666 !default

$background-color: $white !default
$link-color: $blue !default
$text-color: $black !default