.btn {
  margin-right: 5px;
  font-weight: bold;
  display: inline-block; }
  .btn:hover {
    text-decoration: none; }

.btn {
  padding: 10px;
  line-height: 12px;
  font-size: 12px; }

.btn {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.1));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.1));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.1));
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.1));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.9); }
  .btn:hover {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(255, 255, 255, 0.3)));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.3));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.3));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.3));
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.3)); }
